In [2]:
import pandas as pd

In [11]:
name = ['An', 'Bình', 'Châu', 'Dũng']

score = [8.5, 7.0, 6.5, 9.0]

series = pd.Series([1,2,3,4,5])


df = pd.DataFrame({'name': name, 'score': score})

print(df)
print()
df.info()            # prints the DataFrame info shown in your message
print()
print("dtypes:", df.dtypes)
print("index:", df.index)  # shows RangeIndex(start=0, stop=4, step=1)

   name  score
0    An    8.5
1  Bình    7.0
2  Châu    6.5
3  Dũng    9.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

dtypes: name      object
score    float64
dtype: object
index: RangeIndex(start=0, stop=4, step=1)

In [26]:
name = ['An', 'Bình', 'Châu', 'Dũng']

age = [20, 21, 22, 20]

score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'Name': name, 'Age': age, 'Score': score})

print(df.loc[df['Score'] > 8])

print(df['Age'] )

print(df.query("Age < 23 and Age > 7"))

print(df.describe())

   Name  Age  Score
0    An   20    8.5
3  Dũng   20    9.0
0    20
1    21
2    22
3    20
Name: Age, dtype: int64
   Name  Age  Score
0    An   20    8.5
1  Bình   21    7.0
2  Châu   22    6.5
3  Dũng   20    9.0
             Age     Score
count   4.000000  4.000000
mean   20.750000  7.750000
std     0.957427  1.190238
min    20.000000  6.500000
25%    20.000000  6.875000
50%    20.500000  7.750000
75%    21.250000  8.625000
max    22.000000  9.000000

In [33]:
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})


print("Dữ liệu thiếu kiểm tra bằng isna():")
print(df.isna())
print()


df_fill = df.fillna({'age': 21, 'score': 7.5})
print("DataFrame sau khi thay thế NaN bằng fillna():")
print(df_fill)
print()


df_drop = df.dropna()
print("DataFrame sau khi loại bỏ NaN bằng dropna():")
print(df_drop)

Dữ liệu thiếu kiểm tra bằng isna():
    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False

DataFrame sau khi thay thế NaN bằng fillna():
   name   age  score
0    An  20.0    8.5
1  Bình  21.0    7.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

DataFrame sau khi loại bỏ NaN bằng dropna():
   name   age  score
0    An  20.0    8.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

In [ ]:

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'Name': name, 'Age': age, 'Score': score})

df["Age_Group"] = df["Age"].apply(lambda x: "Young" if x < 21 else "Adult")

mapping = {8.5: "Excellent", 7.0: "Good", 6.5: "Average", 9.0: "Excellent"}
df["Score_Level"] = df["Score"].map(mapping)

df["Name"] = df["Name"].replace("Bình", "Bình (Updated)")

print(df)

             Name  Age  Score Age_Group Score_Level
0              An   20    8.5     Young   Excellent
1  Bình (Updated)   21    7.0     Adult        Good
2            Châu   22    6.5     Adult     Average
3            Dũng   20    9.0     Young   Excellent

In [3]:

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'Name': name, 'Age': age, 'Score': score})

df["Name"] = df["Name"].replace("Bình", "Bình (Updated)")

grouped = df.groupby("Age")["Score"].agg(
    mean_score="mean",
    min_score="min",
    max_score="max"
).reset_index()

print(grouped)
print(df)

   Age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5
             Name  Age  Score
0              An   20    8.5
1  Bình (Updated)   21    7.0
2            Châu   22    6.5
3            Dũng   20    9.0

In [4]:
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

merged_df = pd.merge(df1, df2, on="id")
print("Merged DataFrame:")
print(merged_df)

df3 = pd.DataFrame({'age': [20, 21, 22]})

concatenated_df = pd.concat([merged_df, df3], axis=1)
print("\nConcatenated DataFrame:")
print(concatenated_df)

Merged DataFrame:
   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5

Concatenated DataFrame:
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [5]:
date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

df = pd.DataFrame({'date': date, 'name': name})

df['date'] = pd.to_datetime(df['date'])
print("Date converted to datetime:")
print(df)

year_series = df['date'].dt.year
print("\nExtracted Year:")
print(year_series)

name_category = df['name'].astype('category')
print("\nCategory Type for name:")
print(name_category)

Date converted to datetime:
        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu

Extracted Year:
0    2023
1    2023
2    2023
Name: date, dtype: int32

Category Type for name:
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [10]:
import json
import os
from pathlib import Path

os.makedirs('logs', exist_ok=True)

# Tạo file log mẫu
for date, user, action, duration in [
    ('2024-01-01', 'A', 'login', 5),
    ('2024-01-02', 'B', 'logout', 3)
]:
    with open(f'logs/log_{date}.json', 'w') as f:
        json.dump({"user": user, "action": action, "duration": duration}, f)

# Đọc và phân tích
data = []
for file in sorted(Path('logs').glob('log_*.json')):
    date = pd.to_datetime(file.stem.replace('log_', '')).date()
    with open(file) as f:
        log = json.load(f)
        log['date'] = date
        data.append(log)

df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])

# Tính tổng duration theo ngày
result = df.groupby(df['date'].dt.date)['duration'].sum().reset_index()
result.columns = ['Date', 'Total Duration']

# In kết quả
for _, row in result.iterrows():
    print(f"Date: {row['Date']}, Total Duration: {row['Total Duration']}")

# Xuất CSV
result.to_csv('daily_report.csv', index=False)
print("\n✓ Xuất ra: daily_report.csv")

Date: 2024-01-01, Total Duration: 5
Date: 2024-01-02, Total Duration: 3

✓ Xuất ra: daily_report.csv